{% extends "website/base.html" %}
{% block content %}
        <article class="media content-section">
	  <div class="media-body">
            <div class="article-metadata">
	      <img class="article-img" src="{{ object.image.url }}" >
              <a class="mr-2">{{ object.productID }}</a>
              <small class="text-muted">Product Name: {{ object.description }}</small>
            </div>

	  <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1 nav-item nav-link" href="{% url 'add_cart' object.productID %}">Add to Cart</a>
          </div>

	  <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1 nav-item nav-link" href="{% url 'add_list' object.productID %}">Add to List</a>
          </div>
	  
         </div>	  

       </article>
	
{% endblock content %}
